.o_hidden {
  display: none !important;
}
.o_active {
  display: block !important;
}
.o_message {
  margin-bottom: 15px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 10px 10px 10px 0px !important;
  cursor: pointer;
}
.o_message .dropdown-menu {
  left: -150px;
}
.o_message .btn-group, .o_message .btn-group-vertical {
  position: relative;
  border-radius: 0px;
  margin: 0px;
  box-shadow:none;
}
.o_gcm_register_key {
  background-color: #a24689 !important;
}
.o_login {
  padding: 20px !important;
}
.o_no_content {
  color: #777777;
  padding-top: 25px;
  font-size: 125%;
}
.group_header {
  //cursor: pointer;
}
.o_header_nav_tabs {
  background: #fff;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow:0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.o_tab_content {
  padding: 50px 10px 10px 10px;
  background:#EEEEEE;
  min-height: 1200px;
}
.o_group_row {
  margin: 8px 0px;
  padding-bottom: 3px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  color: #a24689;
}
.o_group_row_danger {
  color: #F44336;
}
.o_panel_options {
  position: absolute;
  right: 10px;top: 10px;
  font-size: 17px;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #a24689 !important;
}
.nav-tabs li.active, .nav-tabs > li.active > a {
  background: #a24689;
  color: #fff !important;
}
.badge{
  background-color: #21B799;
}
div.panel-body > div > small {
  color: rgb(194, 192, 192);
}
.o_mark_all_as_read, .o_refresh {
  cursor: pointer;
}
#today .move_today,#tomorrow .move_tomorrow {
  display: none;
}

.o_change_color > div {
  padding: 4px 0px;
  text-align: center;
  color:  rgba(0, 0, 0, 0.4) !important;
}

.card_normal{
      border-left: 6px solid lightseagreen;
}
.card_high{
      border-left: 6px solid #e74c3c;
}
.card_low{
      border-left: 6px solid #f39c12;
}
.card_neglect{
      border-left: 6px solid #7f8c8d;
}
.o_change_color i.fa {
  visibility: hidden;
}
.card_normal [data-color-class="card_normal"] i,.card_low [data-color-class="card_low"] i,.card_high [data-color-class="card_high"] i,.card_neglect [data-color-class="card_neglect"] i{
      visibility: visible;
}

.ui.tag.label, .ui.tag.labels .label {
  position: relative;
  border-radius: .2857rem 0 0 .2857rem;
  width: 75px;
}
.ui.label {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  margin: 0 .125em;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  background-image: none;
  padding: .6em .8em;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border-radius: .2857rem;
  box-sizing: border-box;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.ui.tag.label:before, .ui.tag.labels .label:before {
  position: absolute;
  -webkit-transform: translateY(-50%)translateX(50%)rotate(-45deg);
  -ms-transform: translateY(-50%)translateX(50%)rotate(-45deg);
  transform: translateY(-50%)translateX(50%)rotate(-45deg);
  top: 50%;
  right: 0%;
  content: '';
  background-color: #e8e8e8;
  background-image: none;
  width: 1.56em;
  height: 1.56em;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.ui.tag.label:after, .ui.tag.labels .label:after {
  position: absolute;
  content: '';
  top: 50%;
  right: -.1em;
  margin-top: -.25em;
  background-color: #fff!important;
  width: .5em;
  height: .5em;
  box-shadow: 0 1px 0px 0 rgba(0,0,0,.4) inset;
  border-radius: 500rem;
}

a[data-color-class="card_high"] .ui.tag.label:before{
    background-color: #e74c3c;
}
a[data-color-class="card_normal"] .ui.tag.label:before{
    background-color: lightseagreen;
}
a[data-color-class="card_low"] .ui.tag.label:before{
    background-color: #f39c12;
}
a[data-color-class="card_neglect"] .ui.tag.label:before{
    background-color: #7f8c8d;
}

.highlight{
  background-color: lightseagreen;
  color:white;
}